# Core functionality - changes here should be rare!
/src/app.py                   @Sharanyavobilishetti
/src/backend/database.py      @Sharanyavobilishetti
/src/backend/routers/auth.py  @Sharanyavobilishetti

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Sharanyavobilishetti
